In [1]:
import pandas as pd
olympicYears = [2000,2004,2008,2012,2016]
olympicData = [2000,2004,2008,2012,2016]
medalTable = [2000,2004,2008,2012,2016]
top20 = [2000,2004,2008,2012,2016]

olympicData[0] = pd.read_html("https://en.wikipedia.org/wiki/2000_Summer_Olympics_medal_table")
olympicData[1] = pd.read_html("https://en.wikipedia.org/wiki/2004_Summer_Olympics_medal_table")
olympicData[2] = pd.read_html("https://en.wikipedia.org/wiki/2008_Summer_Olympics_medal_table")
olympicData[3] = pd.read_html("https://en.wikipedia.org/wiki/2012_Summer_Olympics_medal_table")
olympicData[4] = pd.read_html("https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table")



for i in range(len(medalTable)) :
    medalTable[i] = olympicData[i][2]
    print(olympicYears[i])
    #print(medalTable[i])
    medalTable20 = medalTable[i]
    top20[i] = medalTable20.iloc[0:20,1:]
    print(top20[i])
    print("")

2000
           Nation  Gold  Silver  Bronze  Total
0   United States    37      24      32     93
1          Russia    32      28      29     89
2           China    28      16      14     58
3      Australia*    16      25      17     58
4         Germany    13      17      26     56
5          France    13      14      11     38
6           Italy    13       8      13     34
7     Netherlands    12       9       4     25
8            Cuba    11      11       7     29
9   Great Britain    11      10       7     28
10        Romania    11       6       9     26
11    South Korea     8      10      10     28
12        Hungary     8       6       3     17
13         Poland     6       5       3     14
14          Japan     5       8       5     18
15       Bulgaria     5       6       2     13
16         Greece     4       6       3     13
17         Sweden     4       5       3     12
18         Norway     4       3       3     10
19       Ethiopia     4       1       3      8

2004
           Nation  Gold  Silver  Bronze  Total
0   United States    36      39      26    101
1           China    32      17      14     63
2          Russia    28      26      36     90
3       Australia    17      16      17     50
4           Japan    16       9      12     37
5         Germany    13      16      20     49
6          France    11       9      13     33
7           Italy    10      11      11     32
8     South Korea     9      12       9     30
9   Great Britain     9       9      12     30
10           Cuba     9       7      11     27
11        Hungary     8       6       3     17
12        Ukraine     8       5       9     22
13        Romania     8       5       6     19
14        Greece*     6       6       4     16
15         Brazil     5       2       3     10
16         Norway     5       0       1      6
17    Netherlands     4       9       9     22
18         Sweden     4       2       1      7
19          Spain     3      11       6     20

2008
              NOC  Gold  Silver  Bronze  Total
0          China*    48      22      30    100
1   United States    36      39      37    112
2          Russia    24      13      23     60
3   Great Britain    19      13      19     51
4         Germany    16      11      14     41
5       Australia    14      15      17     46
6     South Korea    13      11       8     32
7           Japan     9       8       8     25
8           Italy     8       9      10     27
9          France     7      16      20     43
10    Netherlands     7       5       4     16
11        Ukraine     7       4      11     22
12          Kenya     6       4       6     16
13          Spain     5      11       3     19
14        Jamaica     5       4       2     11
15         Poland     4       5       2     11
16       Ethiopia     4       2       1      7
17        Romania     4       1       4      9
18           Cuba     3      10      17     30
19         Canada     3       9       8     20

2012
               NOC  Gold  Silver  Bronze  Total
0    United States    47      27      30    104
1            China    39      31      22     92
2   Great Britain*    29      18      18     65
3           Russia    18      21      27     66
4      South Korea    13       9       8     30
5          Germany    11      20      13     44
6           France    11      11      13     35
7        Australia     8      15      12     35
8            Italy     8       9      11     28
9          Hungary     8       4       6     18
10           Japan     7      14      17     38
11            Iran     7       5       1     13
12     Netherlands     6       6       8     20
13     New Zealand     6       2       5     13
14         Ukraine     5       4      10     19
15            Cuba     5       3       7     15
16           Spain     4      10       6     20
17         Jamaica     4       5       3     12
18  Czech Republic     4       3       4     11
19    South Africa     4       1       1      6

2016
              NOC  Gold  Silver  Bronze  Total
0   United States    46      37      38    121
1   Great Britain    27      23      17     67
2           China    26      18      26     70
3          Russia    19      17      20     56
4         Germany    17      10      15     42
5           Japan    12       8      21     41
6          France    10      18      14     42
7     South Korea     9       3       9     21
8           Italy     8      12       8     28
9       Australia     8      11      10     29
10    Netherlands     8       7       4     19
11        Hungary     8       3       4     15
12        Brazil*     7       6       6     19
13          Spain     7       4       6     17
14          Kenya     6       6       1     13
15        Jamaica     6       3       2     11
16        Croatia     5       3       2     10
17           Cuba     5       2       4     11
18    New Zealand     4       9       5     18
19         Canada     4       3      15     22