In [10]:
import pandas as pd
olympic16Data = pd.read_html("https://en.wikipedia.org/wiki/2016_Summer_Olympics_medal_table")
print("Data length: ", len(olympic16Data))
medalTable = olympic16Data[2]
print(medalTable)
top20 = medalTable.iloc[0:20,]
print(top20)

Data length:  7
                   Rank                   NOC  Gold  Silver  Bronze  Total
0                     1         United States    46      37      38    121
1                     2         Great Britain    27      23      17     67
2                     3                 China    26      18      26     70
3                     4                Russia    19      17      20     56
4                     5               Germany    17      10      15     42
..                  ...                   ...   ...     ...     ...    ...
82                   78               Nigeria     0       0       1      1
83                   78              Portugal     0       0       1      1
84                   78   Trinidad and Tobago     0       0       1      1
85                   78  United Arab Emirates     0       0       1      1
86  Totals (86 entries)   Totals (86 entries)   306     307     359    972

[87 rows x 6 columns]
   Rank            NOC  Gold  Silver  Bronze  Total
0     1  United States    46      37      38    121
1     2  Great Britain    27      23      17     67
2     3          China    26      18      26     70
3     4         Russia    19      17      20     56
4     5        Germany    17      10      15     42
5     6          Japan    12       8      21     41
6     7         France    10      18      14     42
7     8    South Korea     9       3       9     21
8     9          Italy     8      12       8     28
9    10      Australia     8      11      10     29
10   11    Netherlands     8       7       4     19
11   12        Hungary     8       3       4     15
12   13        Brazil*     7       6       6     19
13   14          Spain     7       4       6     17
14   15          Kenya     6       6       1     13
15   16        Jamaica     6       3       2     11
16   17        Croatia     5       3       2     10
17   18           Cuba     5       2       4     11
18   19    New Zealand     4       9       5     18
19   20         Canada     4       3      15     22